:root {
  --fuentePrincipal: 'Source Sans Pro', sans-serif;
  --padding1: 1em; 
  --padding2: 2em;
}

/*header*/

header.header {
  display: grid;
  grid-template: repeat(1, 100vh) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.header div.header__titulos-info p {
  font-family: var(--fuentePrincipal);
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-decoration: none;
  margin-bottom: 0.3em;
}

.header div.header__titulos-info h1 {
  font-family: var(--fuentePrincipal);
  font-size: 1.5em;
  margin: 0;
}

.header div.header__titulos-info button {
  margin-top: 2.5em;
  border-radius: 30px;
  width: 200px;
  padding: .8em 0;
  font-family: var(--fuentePrincipal);
  font-size: 1.1rem;
  outline: none;
}

.header div.header__titulos-info button:hover {
  color: #8BD8ED;
  border-color: #8BD8ED;
  transition: .6s;
}

.header div.header__banner {
}

.header div.header__banner img {
  width: 380px;
  height: 380px;
}

/*section.projects*/

section.projects {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
}

.projects div.imagen {

}

div.imagen img {
  width: 100%;
  height: 400px;
}

.projects div.descripcion-p1 {
  padding-left: 2em;
}

.projects div.descripcion-p1 h2 {
  font-family: var(--fuentePrincipal);
  font-size: 2em;
}

.projects div.descripcion-p1 p {
  font-family: var(--fuentePrincipal);
  font-size: 1em;
  padding-right: 2.5em;
}

.projects div.descripcion-p1 button {
  margin-top: 2.5em;
  border-radius: 30px;
  width: 200px;
  padding: .8em 0;
  font-family: var(--fuentePrincipal);
  font-size: 1.1rem;
  outline: none;
}

.projects div.descripcion-p1 button:hover {
  color: #8BD8ED;
  border-color: #8BD8ED;
  transition: .6s;
}

/*section tecnologías */

section.tecnologias {
  width: 100vw;
}

.tecnologias div.techno {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  margin: 2em 4em; 
}

.tecnologias div.descripcion-t {
  text-align: center;
  font-family: var(--fuentePrincipal);
}

.tecnologias div.descripcion-t h3 {
  margin-top: 2em;
  font-size: 2.5em;
  font-weight: lighter;
}

.tecnologias div.descripcion-t p {
  font-family: var(--fuentePrincipal);
  font-size: 1.1em;
  font-weight: lighter;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


.seccion-tech div.tech {
  height: 320px;
  text-align: center;
}

div.tech span {
  font-size: 6em;
  margin-top: 1em;
}

div.tech h3 {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: var(--fuentePrincipal);
}

div.tech p {
  font-family: var(--fuentePrincipal);
  font-weight: lighter;
  padding: 0 4em;
}

div.tech-2,
div.tech-5 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

div.tech-4 {
  border-top: 1px solid black;
  padding-top: 1em;
}

div.tech-5 {
  border-top: 1px solid black;
  padding-top: 1em;
}

div.tech-6 {
  border-top: 1px solid black;
  padding-top: 1em;
}

/*section formulario */

section.formulario {
  text-align: center;
}

.formulario div.titulo {
  font-family: var(--fuentePrincipal);
  font-size: 2.4em;
}

div.contenedor-form {
  display: flex;
  justify-content: center;
}

.formulario div.form-1 {
  font-family: var(--fuentePrincipal);
}

div.form-1 label {
  margin-left: 2em;
  font-size: 1.3em;
  margin-right: .8em;
}

div.form-1 input {
  height: 2.5em;
  width: 20em;
  border-radius: 15px;
  outline: none;
}

.formulario div.message {
  display: flex;
  flex-direction: column;
  font-family: var(--fuentePrincipal);
  font-size: 1.3em;
  margin-top: 2em;
}

.formulario div.message textarea {
 width: 60%;
 height: 100%;
 margin: 0 auto;
 margin-top: 1em;
 border-radius: 20px;
 border: 0.5px solid grey;
 outline: none;
}

.formulario div.button {
  margin-top: 2em;
}

.formulario div.button button {
  padding: .8em;
  font-family: var(--fuentePrincipal);
  font-size: 1.2em;
  width: 150px;
  border-radius: 50px;
  outline: none;
}

.formulario div.button button:hover {
  color: #8BD8ED;
  border-color: #8BD8ED;
  transition: .6s;
}


/*social-media*/


section.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8em 0;
}

.social-media div.icons {
  font-size: 1.5em;
}

.social-media div.icons span {
  border: 1px solid grey;
  border-radius: 50%;
  padding: .5em;
  margin: 0 .3em;

}

.social-media div.credits {
  margin-top: 3em;
  font-family: var(--fuentePrincipal);
  font-size: 1.3em;
  font-weight: lighter;
  font-style: italic;
}

.social-media div.credits p a {
  text-decoration: none;
  color: #8BD8ED;
}



















