:root {
  --fuentePrincipal: 'Source Sans Pro', sans-serif;
  --padding1: 1em; 
  --padding2: 2em;
}

/*header*/

header.header {
  display: grid;
  grid-template: repeat(1, 100vh) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.header div.header__titulos-info p {
  font-family: var(--fuentePrincipal);
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-decoration: none;
  margin-bottom: 0.3em;
}

.header div.header__titulos-info h1 {
  font-family: var(--fuentePrincipal);
  font-size: 1.5em;
  margin: 0;
}

.header div.header__titulos-info button {
  margin-top: 2.5em;
  border-radius: 30px;
  width: 200px;
  padding: .8em 0;
  font-family: var(--fuentePrincipal);
  font-size: 1.1rem;


}

.header div.header__banner {

}

.header div.header__banner img {

}