:root {
  --fuentePrincipal: 'Source Sans Pro', sans-serif;
  --padding1: 1em; 
  --padding2: 2em;
}

/*header*/

header.header {
  display: grid;
  grid-template: repeat(1, 100vh) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.header div.header__titulos-info {

}

.header div.header__titulos-info h2 {

}

.header div.header__titulos-info h1 {

}

.header div.header__titulos-info button {

}

.header div.header__banner {

}

.header div.header__banner img {

}